<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apptinhbai">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTinhBai">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sam2Activity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".Sam3Activity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".Sam4Activity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".Sam5Activity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
    </application>

</manifest>